$border_color: #383E45;
$font_big: 32px;
$font_mid: 16px;
$font_small: 14.4px;

body {

}

li {

}

a {

}

header {

    .header__logo {

    }

    .header__nav {

    }
}

.main-visual-wrapper {

    .main-visual__image {

    }
}

.about-wrapper{

    .container {

        .about__section-title {

        }

        .about__icon {

        }

        .about__text {

        }
    }
}

.bicycle-wrapper {

    .container {

        .article-list-container {

            .article-container {

                .article__image {

                }

                .article__text {

                }
            }
        }
    }
}

footer {

}