$border_color: #383E45;
$font_big: 32px;
$font_mid: 16px;
$font_small: 14.4px;

html {
    font-size: 100%;
}

body {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 4%;
}

li {
    list-style: none;
}

a {

}

img {
    max-width: 100%;
}

.container {
    background-color: aquamarine;
}

header {

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo {

            .logo {
                max-width: 120px;
            }
        }

        .header__nav {

            ul {
                display: flex;
            }
        }
    }

    
}

.main-visual-wrapper {

    .main-visual__image {

    }
}

.about-wrapper{

    .container {

        .about__section-title {

        }

        .about__icon {

        }

        .about__text {

        }
    }
}

.bicycle-wrapper {

    .container {

        .article-list-container {

            .article-container {

                .article__image {

                }

                .article__text {

                }
            }
        }
    }
}

footer {

}